.hero-section {
    position: relative;
    background-image: url("../../assets/ecology-image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; 
    padding: 4rem 1rem; 
    overflow: hidden;
  }
  
  .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 1;
  }
  
  .container {
    z-index: 2;
    position: absolute; /* Абсолютне позиціонування */
    left: 0; /* Початок від лівого краю */
    width: 50%; /* Ширина 50% від екрану */
    padding-left: 2rem; /* Відступ зліва */
  }